name: CI

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'
      - run: npm install
      - run: npx playwright install --with-deps
      - run: npm test
      - run: npm run build
      - name: Upload Playwright snapshots
        uses: actions/upload-artifact@v3
        with:
          name: playwright-snapshots
          path: tests/visual.spec.js-snapshots/
